
<form action='/names' method='post'>
Player 1:
  <input type='text' name='player1'></input>
Player 2:
  <input type='text' name='player2'></input>
  <input type='submit' value='Submit'></input>
</form>
