<h1>Player 1: <%=$player1.name_recall%>!</h1>

<h1>Player 2: <%=$player2.name_recall%>!</h1>

Player 2 hitpoints: 10

<form method='get' action='/attack'>
  <button type='submit'>Attack!</button>
</form>
